/*
 * Hide the nitro
 */
@property --hide-nitro {
	syntax: "default | off | on";
	inherits: false;
	initial-value: off;
}

@container body style(--hide-nitro: on) {
	ul[aria-label="Direct Messages"] > :nth-child(3) {
		display: none;
	}
}

/*
 * Hide the shop
*/
@property --hide-shop {
	syntax: "default | off | on";
	inherits: false;
	initial-value: off;
}

@container body style(--hide-nitro: on) {
	ul[aria-label="Direct Messages"] > :nth-child(4) {
		display: none;
	}
}

/*
 * Hide quests
*/
@property --hide-quests {
	syntax: "default | off | on";
	inherits: false;
	initial-value: on;
}

@container body style(--hide-quests: on) {
	*[class*="wrapperVisible__"] {
		display: none;
	}
	ul[aria-label="Direct Messages"] > :nth-child(5) {
		display: none;
	}
}

/*
 * Hide divider between friends and other panels on chat panel
 */
@property --hide-chats-div {
	syntax: "default | off | on";
	inherits: false;
	initial-value: off;
}

@container body style(--hide-chats-div: on) {
	ul[aria-label="Direct Messages"] > :nth-child(6) {
		display: none;
	}
}

/*
 * Hide apps
*/
@property --hide-apps {
	syntax: "default | off | on";
	inherits: false;
	initial-value: off;
}

@container body style(--hide-apps: on) {
	.app-launcher-entrypoint {
		display: none;
	}
}

/*
 * Hides gift nitro button
 */
@property --hide-gifting {
	syntax: "default | off | on";
	inherits: false;
	initial-value: on;
}

@container body style(--hide-gifting: on) {
	div[aria-label="Send a gift"] {
		display: none;
	}
}

/*
 * Hides start activity button
 */
@property --hide-activities {
	syntax: "default | off | on";
	inherits: false;
	initial-value: off;
}

@container body style(--hide-activities: on) {
	button[aria-label="Start An Activity"] {
		display: none;
	}
}
